* {
    /* Change your font family */
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    /*margin: 25px 0;*/
    font-size: 0.9em;
    min-width: 300px;
    
    max-width: 800px;

    border-radius: 6px 6px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    /* esto es para dar un borde de pagine muy bueno
    border-bottom-right-radius: 50px;
    */
}

.content-table thead tr {
    background-color: #460fdb;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    /*border-bottom: 2px solid #009879;*/
}

.content-table tbody tr.active-row {
    /*font-weight: bold; commentaire*/
    color: #e9f1f0;
    background-color: #009879;
}